#colorazul {

    color: blue;


    /* Llamada <h1 id =colorazul> "texto "</h1>*/
}
.colorazul{

    color:blue
    /* Llamada <h1 class =colorazul> "texto "</h1>

    se pueden llamar mas de una clase con las funcion class
    class: funcion1 funcion2
    
    */
}
.color_letras {
    color: white; ;
}
.color_letras:hover{
    color: grey;
}
.navbar_color{
    background-color: #006414;
}
.carrusel{
    height: 400px;
}
.letras_carrusel {
    color: white;
}
.img_donacion {
    height: 250px;
    width: 250px;
}
.img_donacion_modal {
    height: 200px;
    width: 200px;
}
.alinear_cartas {
    text-align: center;
}
.texto {
    text-align: center;
}
.pie {
    background-color: #006414;
    text-align: center;
    color: white;
}
.nosotros {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
