#colorazul {

    color: blue;


    /* Llamada <h1 id =colorazul> "texto "</h1>*/
}
.colorazul{

    color:blue
    /* Llamada <h1 class =colorazul> "texto "</h1>

    se pueden llamar mas de una clase con las funcion class
    class: funcion1 funcion2
    
    */
}
.color_letras {
    color: #f2f0ee ;
}
.color_letras:hover{
    color: grey;
}
.navbar_color{
    background-color: #006414;
}
.carrusel{
    height: 400px;
}
.letras_carrusel {
    color: white;
}
.img_donacion {
    height: 250px;
    width: 250px;
}

.alinear_cartas {
    text-align: center;
}
.texto {
    text-align: center;
}
.pie {
    background-color: #006414;
    text-align: center;
    color: white;
}
.nosotros {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}


 /* card de nosotros */


.hcolor{
    color: #f2f0ee
    ;
}
.modal-content{
    background-color:#705a56
    ;
}
.card{
    background-color:#705a56
    ;
}
.modal-header{
    background-color:#705a56
    ;
}
.img_donacion {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.img_donacion_modal{
    height: 100%;
    width: 100%;
}
.titulo {
    color: #f2f0ee    ;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

 /* card de nosotros */